/* Adminaddservices.css */

.con {

    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .con h5 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .con form {
    display: flex;
    flex-direction: column;
  }
  
  .con form label {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .con form input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #454d55;
    color: #fff;
  }
  .btn{
    display: block;
  }
  .con form button {
    background-color: #17a2b8;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .con form button:hover {
    background-color: #138496;
  }
  